{% extends 'home/base_header_and_navbar.html' %}
{% block body %}
<style type="text/css">

    @import url(https://fonts.googleapis.com/css?family=opensans:500);

    body{
            background: #33cc99;
            color:#fff;
            max-height:700px;
            overflow: hidden;
        }

        .c{
            text-align: center;
            display: block;
            position: relative;
            width:80%;
            margin:100px auto;
        }

        #check-icon{
            height: 200px;
        }

        #check-icon img{
            width:200px;
            height:200px;
            margin:auto;
            border-radius:50%;
        }
        #_init, #_comp{
            font-size: 220px;
            position: relative;
            display: inline-block;
            height: 250px;
        }

        #_comp{
            display:block;
            letter-spacing: 12px;
            font-size: 4em;
            line-height: 80%;
        }

        .btn{
            background-color: rgb( 255, 255, 255 );
            position: relative;
            display: inline-block;
            width: 358px;
            padding: 5px;
            z-index: 5;
            font-size: 25px;
            margin:0 auto;
            color:#33cc99;
            text-decoration: none;
            margin-right: 10px
        }

        hr{
            padding: 0;
            border-top: 5px solid #fff;
            color: #fff;
            text-align: center;
            margin: 0px auto;
            width: 420px;
            height:10px;
        }
</style>
<body>
    <div class='c'>
    <div id='check-icon'><img src="" alt=""></div>
    <div id='_init'>INITIALIZATION</div>
    <div id='_comp'>COMPLETE</div>
    <a class="btn" href="/">BACK TO HOME</a>
    </div>
</body>
{% endblock %}