{% extends 'home/base_header_and_navbar.html' %}
{% block body %}
<body>
    <div class="container-fluid">
        <form method="post">
            {% csrf_token %}
            <div class="row row-buffer">
                <div class="col-sm-4" style="margin: auto; margin-left: 20px; padding: 10px;">
                    <h4><label>Start Bus Stop: </label>{{ form.uinpsrc }}</h4>
                </div>
                <div class="col-sm-4" style="margin: auto; margin-left: 20px; padding: 10px;">
                    <h4><label>Dest. Bus Stop: </label>{{ form.uinpdest }}</h4>
                </div>
                <div class="col-sm-3" style="margin: auto; padding: 10px;">
                    <button type="submit" class="btn btn-info btn-block" onClick="location.href='{% url 'get_busroutequery' %}'">Find</button>
                </div>
            </div>
        </form>
        <div class="row row-buffer">
            <div class="col-sm-5" style="margin: auto; margin-left: 50px; padding: 10px;">
                <h4><b>Start Bus Stop:</b> {{ srcstop }}</h4>
            </div>
            <div class="col-sm-5" style="margin: auto; margin-left: 50px; padding: 10px;">
                <h4><b>Dest. Bus Stop:</b> {{ deststop }}</h4>
            </div>
        </div>
        <hr style="height: 1px; background: #333; background-image: linear-gradient(to right, #ccc, #333, #ccc);">
        <div class="row row-buffer">
            <div class="col-sm-3" style="margin: auto; margin-left: 50px; padding: 10px;">
                <h2>Best Routes: </h2>
            </div>
        </div>
        <div class="row row-buffer">
            <div class="col-sm-11" style="">
                {% for route in allRoutes %}
                    <h4 style="margin-left: 50px; line-height: 40px;">
                        {% for stop in route%}
                            {{ stop }}&nbsp;&nbsp;&rarr;&nbsp;&nbsp;
                        {% endfor %}
                        END
                        <hr style="height: 1px; background: #333; background-image: linear-gradient(to right, #ccc, #333, #ccc);">
                    </h4>
                {% endfor %}
            </div>
        </div>
    </div>
</body>
{% endblock %}