{% extends 'home/base_header_and_navbar.html' %}
{% block body %}
<body>
    <div class="container-fluid">
        <form method="post">
            {% csrf_token %}
            <div class="row row-buffer">
                <div class="col-sm-4" style=" margin: auto; margin-left: 50px; padding: 10px;">
                    <h4>{{ form }}</h4>
                </div>
                <div class="col-sm-3" style="margin: auto; padding: 10px;">
                    <button type="submit" class="btn btn-info btn-block" onClick="location.href='{% url 'get_busquery' %}'">Get</button>
                </div>
            </div>
        </form>
        <div class="row row-buffer">
            <div class="col-sm-3" style="margin: auto; margin-left: 50px; padding: 10px;">
                <h4>Bus Number: {{ busDetails.bus_id }}</h4>
            </div>
            <div class="col-sm-3" style="margin: auto; margin-left: 50px; padding: 10px;">
                <h4>Start Bus Stop: {{ busDetails.start_busstop }}</h4>
            </div>
            <div class="col-sm-3" style="margin: auto; margin-left: 50px; padding: 10px;">
                <h4>End Bus Stop: {{ busDetails.end_busstop }}</h4>
            </div>
        </div>
        <div class="row row-buffer">
            <div class="col-sm-3" style="margin: auto; margin-left: 50px; padding: 10px;">
                <h4>All Bus Stops:</h4>
            </div>
            <div class="col-sm-8" style="margin: auto; margin-left: 50px; padding: 10px;">
                <h5>
                    {% for stp in busDetails.all_busstops %}
                        {{ stp }}->
                    {% endfor %}
                    END
                </h5>
            </div>
        </div>
        <hr style="height: 1px; background: #333; background-image: linear-gradient(to right, #ccc, #333, #ccc);">
    </div>
</body>
{% endblock %}