{% extends 'home/base_header_and_navbar.html' %}
{% block body %}
<head>
    <style>
        .row-buffer
        {
            margin-top: 20px;
            margin-bottom: 20px;
        }
    </style>
</head>
<body>
    <div class="container-fluid">
        <h1>Hello Delhi Traveller!</h1>
        <p>This website aims to ease the bus and metro travel of Delhi Tourist by provide them all relevant details about their travel.</p>
        <div class="row row-buffer">
            <div class="col-sm-3" style="margin:30px; padding:20px; background-color:lavender;">
                <h4>Find Route Between Bus Stops</h4>
                <p>Gives the Shortest Path between the source bus stop and destination bus stop</p>
                <button type="button" class="btn btn-info btn-block" onClick="location.href='{% url 'get_busroutequery' %}'">Find</button>
            </div>
            <div class="col-sm-4" style="margin:30px 50px 30px 50px; padding:20px; background-color:lavender;">
                <h4>Get Bus Details</h4>
                <p>Gives the details of the bus including start bus stop, end bus stops and all the bus stops visited by the bus.</p>
                <button type="button" class="btn btn-info btn-block" onClick="location.href='{% url 'get_busquery' %}'">Get</button>
            </div>
            <div class="col-sm-3" style="margin:30px; padding:20px; background-color:lavender;">
                <h4>Get Bus Stop Details</h4>
                <p>Gives the buses that visit the bus stop.<br></br></p>
                <button type="button" class="btn btn-info btn-block" onClick="location.href='{% url 'get_busstopquery' %}'">Get</button>
            </div>
        </div>
        <div class="row row-buffer">
            <div class="col-sm-5" style="margin:30px 55px 30px 55px; padding:20px; background-color:lavender;">
                <h4>Find Route Between Metro Stations</h4>
                <p>Gives the most efficient path between the metro stations.</p>
                <button type="button" class="btn btn-info btn-block" onClick="location.href='{% url 'get_metroroutequery' %}'">Find</button>
            </div>
            <div class="col-sm-5 col-md-offset-2" style="margin:30px 55px 30px 55px; padding:20px; background-color:lavender;">
                <h4>Get Metro Line Details</h4>
                <p>Gives details about metro line including all metro stations on metro line.</p>
                <button type="button" class="btn btn-info btn-block" onClick="location.href='{% url 'get_metroquery' %}'">Get</button>
            </div>
        </div>
    </div>
</body>
{% endblock %}